@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb-values: 0, 0, 0;
  --foreground-rgb: rgb(--foreground-rgb-values);
}

body {
  color: var(--foreground-rgb);
  background: white;
}
